# Database
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME"

# Next.js
PORT=3011
NEXT_PUBLIC_APP_URL="http://localhost:3011"

# Auth
JWT_SECRET="change-me-to-a-long-random-secret"

# Whatsapp sender
WA_SENDER_URL="http://localhost:4001"
WA_SENDER_API_KEY="change-me"